.todo-form{
    width: 400px;
    margin: 13px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-form .todo-form--field{
    width: 75%;
}
.list-container{

    display: flex;
    justify-content: center;
}
.list{
    background-color: rgb(255, 255, 255);
}